body{
    font-family:  'Roboto', sans-serif;
    font-weight: 800 !important;
   
}
.adminlist{
   padding: 9px 0px;
}
.adminlist a , i{
    font-size: 1.5rem;
    padding: 0px 7px;

}
.adminlist:hover{
   background-color: rgba(199, 202, 193, 0.616);
   color: white;
}
.edit_container{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0px;
}
#settings{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    color: white;
    font-size: 2rem;
    padding: 2rem 0;
    text-align: center;
    background-color: #3498DB;
}
#settings i{
font-size: 5rem;
padding: 2rem 0;
}

#Myorders{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    color: white;
    font-size: 2rem;
    padding: 2rem 0;
    text-align: center;
    background-color: #26A65B;
}
#Myorders i{
font-size: 5rem;
padding: 2rem 0;
}


#wishlist{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    color: white;
    font-size: 2rem;
    padding: 2rem 0;
    text-align: center;
    background-color:   #F4B350;
}
#wishlist i{
font-size: 5rem;
padding: 2rem 0;
}


#password{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    color: white;
    font-size: 2rem;
    padding: 2rem 0;
    text-align: center;
    background-color:   #C0392B;
}
#password i{
font-size: 5rem;
padding: 2rem 0;
}

/*margins*/
.my-2{margin: 11px 0px}
.my-3{margin: 18px 0px}
.my-4{margin: 24px 0px}
.my-5{margin: 50px 0px}
 
/*cutom button */
.customcss{
position: absolute;
margin: 2px -3px;
transition: all;
left: 3px;
top: -108px;
font-size: 12px;
border: none;
 opacity: 0;
}
.customcss:hover{
 opacity: 1;
 transition: 0.5s;
}
.wishlistcustom{
    position: relative;
    margin: 1px -3px;
    left: -8px;
    transition: all;
    top: -77px;
    font-size: 12px;
    border: none;
     width: 140px;
     opacity: 0;
}
.wishlistcustom:hover{
     opacity: 1;
     transition: 0.5s;
}
.wishlistcustom i {
    color : rgb(248, 131, 131);
}
.font-weight-bold{
    font-weight: bold;
    color: black;
}
/** media querries **/


 
@media (max-width: 767px){
    #my_account{
   position: relative;
   top: -101px;
   left: 107%;
    }
    .btn-link{
        position: fixed !important;
        left: 86% !important;
    }

    .header-bottom{
    position: relative;
    top: -34px;
    }
    .owl2-item img{
      height: 27vh;
    }
    .owl2-stage-outer{
        position: relative;
        top: -21px;
    }
    .single-baner2 img {
        height: 16vh;
    }
    footer.typefooter-4 .footer-top .contnet-footer-top {
        text-align: center;
        height: 10vh;
    }
    .socials{
    position: relative;
    top: -28px;
    }
    #logo{
        height: 55px;
        position: relative;
        left: -27px;
        margin: 4px 0;
        padding: 3px 5px;
    }
    .categories img{
     display: none;
    }
}

